In [1]:
Name=input("enter the name:")
age=int(input("enter the age:"))
if age>=18:
        print(Name)
        print("you are eligible")
else:
        print(Name)
        print("your not eligible")

enter the name: usha
enter the age: 19

usha
you are eligible

In [2]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
if a>b:
      print(a)
      print(" a is greater:")
else:
    print(b)
    print("b is greater:")

enter the value of a: 964
enter the value of b: 326

964
 a is greater:

In [3]:
a=int(input())
b=int(input())
c=int(input())
if a>b:
    if a>c:
        print("a is greater")
    else:
        print("c is geater")
else:        
    if b>c:
          print("b is greater")
    else:
          print("c is greater")

 466
 76
 9

a is greater

In [5]:
marks=int(input("enter the marks:"))
if marks>=90 and marks<=100:
   print("grade is A+")
else:
    if marks>=80 and marks<=90:
          print("grade is A")
    else:      
        if marks>=70 and marks<=80:
            print("grade is B+")
        else:
            if marks>=60 and marks<=70:
                print("grade is B")
            else:
                if marks>=50 and marks<=60:
                    print("grade is C")
                else:
                     if marks>=40 and marks<=50:
                         print("grade is D")
                     else:
                        if marks>30 and marks<=40:
                              print("grade is E")
                        else:
                             if marks>0 and marks<=30:
                                   print("grade is F")

enter the marks: 64

grade is B

In [48]:
x=0
while x<10:
     print(x)
     x=x+1

0
1
2
3
4
5
6
7
8
9

In [47]:
for z in range(0,10):
    print(z)

0
1
2
3
4
5
6
7
8
9

In [6]:
a=0
b=1
n=(input("enter the length of the series:"))
print(a,b,end=" ")
for x in range(0,n-2):
               c=a+b
               print(c,end=" ")
               a=b
               b=c

enter the length of the series: 3

0 1

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [7]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
oper=input("enter the operator:")
match oper:
          case"+":print("sum=",a+b)
          case"-":print("difference=",a-b)
          case"*":print("product=",a*b)
          case"/":print("quotient=",a/b)
          case"_":print("invalid")

enter the value of a: 20
enter the value of b: 4
enter the operator: /

quotient= 5.0